.popup__container {
  max-width: 430px;
  height: 330px;
  position: relative;
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;
    height: 322px;
    padding: 26px 19px;
  }
}
