.profile {
  width: 100%;
  margin: 0;
  padding: 38px 0 47px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    padding: 44px 0 34px 0;
    display: flex;
    flex-direction: column;
  }
}
