.profile__button-add {
  width: 100%;
  max-width: 150px;
  height: 50px;
  padding: 0;
  background-color: #000;
  background-image: url(../../../images/VectorAdd.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .profile__button-add {
    max-width: 282px;
    background-size: 16px;
  }
}
