.popup__text {
  width: 358px;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  border: none;
  border-bottom: 1px solid #00000033;
}

@media screen and (max-width: 768px) {
  .popup__text {
    width: 238px;
  }
}

/*color: #C4C4C4;
color: #000000;*/
